<div class="paging_wrap">
	<div class="pagination__">
		<ul class="prev_bd">
			<li class="prev_more">
				<a href="" title="첫페이지">first</a>
			</li>
			<li class="prev">
				<a href="" title="이전">prev</a>
			</li>
		</ul>
		<ul>
			<li class="pagination_active__">
				<a href="">
					<span>1</span>
				</a>
			</li>
		</ul>
		<ul class="next_bd">
			<li class="next">
				<a href="" title="다음페이지">next</a>
			</li>
			<li class="next_more">
				<a href="" title="마지막페이지">last</a>
			</li>
		</ul>
	</div>
</div>