<!-- 가입설계-->
<div>
	<div class="prd_step">
		<div class="prd_step_scroll">
			<ul class="step_list">
				<!-- 20171018 현재 스텝 => on // 입력중 input 클레스 적용 필요-->
				<li class="on input">
					<span>설계보관</span>
				</li>
				<li class="on input">
					<span>인수심사</span>
				</li>
				<li>
					<span>청약설계</span>
				</li>
				<li>
					<span>보험료영수</span>
				</li>
				<li>
					<span>확정</span>
				</li>
			</ul>
			<a href="#" class="btn_step">요약</a>
		</div>
	</div>
	<!--20170824 코딩 수정-->
	<!-- 입력정보 보기-->
	<div class="ip_info_layer">
		<div class="ip_info_group">
			<div class="ctr_area">
				<strong>입력정보 보기</strong>
				<a href="#" class="btn_bsn_step">심사신청(심사진행중)</a>
				<a href="#" class="btn_step"></a>
			</div>
			<!--script height 적용 필요-->
			<div class="ip_info_scroll">
				<div class="ip_info_area">
					<!-- 해당스텝 일때 on 클레스 적용 필요-->
					<div class="step on">
						<strong>1. 상품 및 고객정보</strong>
						<div class="flex_box_area">
							<div class="flex_box">
								<dl>
									<dt>상품명 :</dt>
									<dd>프로미카개인용자동차보험</dd>
								</dl>
								<dl>
									<dt>설계번호 :</dt>
									<dd>2201700251050000</dd>
								</dl>
							</div>
							<div class="flex_box">
								<dl>
									<dt>보험기간 :</dt>
									<dd>2017.07.18 ~ 2018.07.18</dd>
								</dl>
								<dl>
									<dt>피보험자 :</dt>
									<dd>김동부(811202 – 1******)</dd>
								</dl>
							</div>
							<div class="flex_box">
								<dl>
									<dt>차량번호 :</dt>
									<dd>23누2222</dd>
								</dl>
							</div>
							<a href="" class="button__ btn_view bd_color02">조회</a>
						</div>
					</div>
					<div class="step">
						<strong>2. 차량정보 및 적용요율</strong>
						<div class="flex_box_area">
							<div class="flex_box">
								<dl>
									<dt>차명 :</dt>
									<dd>싼타페DM</dd>
								</dl>
								<dl>
									<dt>차종 :</dt>
									<dd>다인승 2종</dd>
								</dl>
							</div>
							<div class="flex_box">
								<dl>
									<dt>기본부속 :</dt>
									<dd>에어백 2개 외 3개</dd>
								</dl>
								<dl>
									<dt>차량가액(부속) :</dt>
									<dd>1,803 만 원(23 만 원)</dd>
								</dl>
							</div>
							<div class="flex_box">
								<dl>
									<dt>추가부속 :</dt>
									<dd>블랙박스 외 4개</dd>
								</dl>
								<dl>
									<dt>차량등록일 / 받을보험료 :</dt>
									<dd>2015.04.08</dd>
								</dl>
							</div>
							<div class="flex_box">
								<dl>
									<dt>가입경력/법규위반/할인할증 :</dt>
									<dd>158% / -0.93 / 11등급</dd>
								</dl>
							</div>
							<a href="" class="button__ btn_view bd_color02">조회</a>
						</div>
					</div>
					<div class="step">
						<strong>3. 가입특약</strong>
						<div class="flex_box_area">
							<div class="flex_box">
								<dl>
									<dt>운전가능범위 :</dt>
									<dd>기명피보험자 1인 한정 / 만 25세이상 한정</dd>
								</dl>
								<dl>
									<dt>최저연령운전자 :</dt>
									<dd>김동부(811202 – 1******)</dd>
								</dl>
							</div>
							<div class="flex_box">
								<dl class="floating clfix">
									<dt>가입경력지정자 :</dt>
									<dd>
										<span class="dt_bl">김동부(811202 – 1******) /</span>
										<span class="dt_bl">김서부(811115 – 2******)</span>
									</dd>
								</dl>
								<dl>
									<dt>기타특약 :</dt>
									<dd>외제차충돌대물확대 외 3개</dd>
								</dl>
							</div>
							<a href="" class="button__ btn_view bd_color02">조회</a>
						</div>
					</div>
					<div class="step">
						<strong>4. 보험료계산결과</strong>
						<div class="flex_box_area">
							<div class="flex_box">
								<dl>
									<dt>적용보험료 :</dt>
									<dd>1,234,567 원</dd>
								</dl>
								<dl>
									<dt>분납보험료 :</dt>
									<dd>5회분납 / 350,000 원</dd>
								</dl>
							</div>
							<div class="flex_box">
								<dl>
									<dt>초회보험료 :</dt>
									<dd>1,000,000 원</dd>
								</dl>
							</div>
							<a href="" class="button__ btn_view bd_color02">조회</a>
						</div>
					</div>
					<div class="step">
						<strong>5. 청약사항</strong>
						<div class="flex_box_area">
							<div class="flex_one_column">
								<dl>
									<dt>계약자 :</dt>
									<dd>김서부(811115 - 2******)</dd>
								</dl>
								<dl class="floating clfix">
									<dt>계좌정보 :</dt>
									<dd class="clfix">
										<span class="dt_list">(분할납입) OO은행 / 1002 - *** - 143032,</span>
										<span class="dt_list">(요일제) OO은행 / 1002 - *** - 143032</span>
										<span class="dt_list">(주행거리) OO은행 / 1002 - *** - 143032,</span>
										<span class="dt_list">(UBI) OO은행 / 1002 - *** - 143032</span>
									</dd>
								</dl>
							</div>
						</div>
					</div>
					<div class="bd_line"></div>
				</div>
			</div>
		</div>
	</div>
	<!--// 20170824 코딩 수정-->
</div>
<!-- 배서-->
<div>
	<div class="prd_step type02">
		<div class="prd_step_scroll">
			<ul class="step_list">
				<!-- 20171018 현재 스텝 => on // 입력중 input 클레스 적용 필요-->
				<li class="on">
					<span>설계보관</span>
				</li>
				<li class="on input">
					<span>인수심사</span>
				</li>
				<li>
					<span>입출금처리</span>
				</li>
				<li>
					<span>보험료영수</span>
				</li>
				<li>
					<span>확정</span>
				</li>
			</ul>
			<a href="#" class="btn_layer">배서항목</a>
		</div>
	</div>
	<div class="anchor_wrap">
		<strong class="tit">배서항목 선택</strong>
		<ul class="clfix">
			<li class="reset">
				<a href="#" class="on">무번호 확정</a>
			</li>
			<li>
				<a href="#">특약변경</a>
			</li>
			<li class="reset">
				<a href="#">담보내용</a>
			</li>
			<li>
				<a href="#">특별요율변경</a>
			</li>
			<li class="reset">
				<a href="#">자동차사항</a>
			</li>
			<li>
				<a href="#">차량대체</a>
			</li>
			<li class="reset">
				<a href="#">가입자특성요율/할인할증요율</a>
			</li>
			<li class="reset">
				<a href="#">사용용도</a>
			</li>
			<li>
				<a href="#">수익자지정</a>
			</li>
			<li class="reset">
				<a href="#">질권설정/취소</a>
			</li>
			<li>
				<a href="#">권리양도</a>
			</li>
			<li class="reset">
				<a href="#">피보험자/계약자 사항</a>
			</li>
		</ul>
		<a href="#" class="btn_close">닫기</a>
	</div>
</div>