<!--20170817 수정(스탭수정)-->
<div class="prd_step">
	<div class="prd_step_scroll">
		<ul class="step_list">
			<!-- 20171018 현재 스텝 => on // 입력중 input 클레스 적용 필요-->
			<li class="on">
				<span>가입설계</span>
			</li>
			<li class="on input">
				<span>보험료산출</span>
			</li>
			<li>
				<span>인수심사</span>
			</li>
			<li>
				<span>확정신청</span>
			</li>
			<li>
				<span>계약확정</span>
			</li>
		</ul>
		<a href="#" class="btn_step"></a>
	</div>
</div>
<!--20170915 스탭 추가(display=none )-->
<div style="display:none" class="prd_step etc_full">
	<div class="prd_step_scroll">
		<ul class="step_list">
			<li class="on">
				<span>가입대상선택</span>
			</li>
			<li>
				<span>업종선택</span>
			</li>
			<li>
				<span>급수선택</span>
			</li>
			<li>
				<span>담보선택</span>
			</li>
			<li>
				<span>보험료산출</span>
			</li>
		</ul>
	</div>
</div>
<!-- 입력정보 보기-->
<div class="ip_info_layer">
	<div class="ip_info_group">
		<div class="ctr_area">
			<strong>입력정보 보기</strong>
			<a href="#" class="btn_bsn_step">심사신청(심사진행중)</a>
			<a href="#" class="btn_step"></a>
		</div>
		<!--script height 적용 필요-->
		<div class="ip_info_scroll">
			<div class="ip_info_area">
				<!-- 해당스텝 일때 on 클레스 적용 필요-->
				<div class="step on">
					<strong>1. 기본사항</strong>
					<div class="flex_box_area">
						<div class="flex_box">
							<dl>
								<dt>상품명 :</dt>
								<dd>화재보험</dd>
							</dl>
							<dl>
								<dt>설계/증권번호 :</dt>
								<dd>5200002AP790001</dd>
							</dl>
						</div>
						<div class="flex_box">
							<dl>
								<dt>계약자 :</dt>
								<dd>홍길동</dd>
							</dl>
							<dl>
								<dt>피보험자 :</dt>
								<dd>김동부</dd>
							</dl>
						</div>
						<div class="flex_box">
							<dl>
								<dt>청약일 :</dt>
								<dd>2017.07.01</dd>
							</dl>
							<dl>
								<dt>보험기간 :</dt>
								<dd>2017.07.01 ~ 2018.07.01</dd>
							</dl>
						</div>
						<div class="flex_box">
							<dl>
								<dt>요율구분 :</dt>
								<dd>표준요율</dd>
							</dl>
							<dl>
								<dt>갱신구분 :</dt>
								<dd>신규</dd>
							</dl>
						</div>
						<a href="" class="button__ btn_view bd_color02">조회</a>
					</div>
				</div>
				<div class="step">
					<strong>2. 담보사항</strong>
					<div class="flex_box_area">
						<div class="flex_box">
							<dl>
								<dt>목적물 :</dt>
								<dd>건물및부속설비</dd>
							</dl>
							<dl>
								<dt>담보 :</dt>
								<dd>화재손해 외 5건</dd>
							</dl>
						</div>
						<div class="flex_box">
							<dl>
								<dt>업종/직업 :</dt>
								<dd>교회, 성당</dd>
							</dl>
							<dl>
								<dt>소재지 :</dt>
								<dd>서울 동대문구 한천로53길 6 (휘경동)</dd>
							</dl>
						</div>
						<a href="" class="button__ btn_view bd_color02">조회</a>
					</div>
				</div>
				<div class="step">
					<strong>3. 보험료사항 (원화환산)</strong>
					<div class="flex_box_area">
						<div class="flex_box">
							<dl>
								<dt>총 보험가입금액 :</dt>
								<dd>1,800,120,000.00</dd>
							</dl>
							<dl>
								<dt>변경보험 가입금액 :</dt>
								<dd>0.00</dd>
							</dl>
						</div>
						<div class="flex_box">
							<dl>
								<dt>총 보험료 :</dt>
								<dd>433,100.00</dd>
							</dl>
							<dl>
								<dt>변경보험료 :</dt>
								<dd>0.00</dd>
							</dl>
						</div>
						<a href="" class="button__ btn_view bd_color02">조회</a>
					</div>
				</div>
				<div class="bd_line"></div>
			</div>
		</div>
	</div>
	<!--//20170817 수정(스탭수정)-->
</div>